@import "../../Partials/reset";

nav {
    background-color: $hero-color;
    color: $color;
    font-size: $font-size;
    width: 100%;
    position: fixed;
    height: 6rem;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    .header {
        width: 30%;

        img {
            min-width: 100px;
            max-width: 150px;

        }
    }

    ul {
        display: flex;
        width: 70%;
        justify-content: space-evenly;


        li {
            list-style: none;


            a {
                text-decoration: none;
                color: $blur;

                &:hover {
                    color: $accent-color;
                    font-weight: 600;
                }
            }

            &:hover {
                transition: 0.7s;
                transform: scale(1.1);
                margin: 0 3px;
                border-radius: 10px;
            }
        }

        li+li {
            margin-left: 5px;
        }

    }
}