@import "../../Partials/reset";


nav {
    background-color: $hero-color;
    color: $color;
    font-size: $font-size;
    width: 100%;
    height: 6rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    .Logo {
        width: 30%;

        img {
            min-width: 100px;
            max-width: 150px;

        }
    }

    ul {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        padding-left: 0;


        li {
            list-style: none;


            a {
                text-decoration: none;
                color: $blur;

                :hover {
                    color: $accent-color;
                    font-weight: 600;
                }
            }

            :hover {
                transition: 0.7s;
                transform: scale(1.1);
                margin: 0 3px;
                border-radius: 10px;
            }
        }

        li+li {
            margin-left: 5px;
        }

    }

    button {
        background-color: $accent-color;
        border: none;
        border-radius: 20px;
        width: 20%;
        padding: 10px;
        margin-left: 100px;


        a {
            text-decoration: none;
            color: $white;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }

        :hover {
            background-color: $accent-orange;
            transition: 0.7s;
            transform: scale(1.05);

            a {
                color: $blur;
                transition: 0.7s;
            }
        }
    }

    .menu-icon {
        display: none;
    }
}


@include mobile {
    @import './menu-icon';

    nav {
        display: block;
        height: fit-content;
        padding-left: 0;
        padding-right: 0;

        button {
            display: none;
        }

        ul {
            width: 100vw;
            display: block;
            position: absolute;
            background-color: $hero-color;
            padding-bottom: 20px;
            display: none; // not suppose to be here

            &> :nth-child(1) {
                border-top: 1px solid black;
            }

            li {
                @include flex(column, center, center);
                border-bottom: 1px solid black;
                padding: 20px 0px;

                a {
                    @include flex(column, center, center);
                    width: 100%;
                    height: 100%;
                }
            }

            li+li {

                margin-left: 0;
            }
        }
    }
}